<section id="auth">
  <div class="create-user" style="width: 400px; display: inline-block">
    <h3>name</h3>
    <input class="name" type="text">
    <h3>email</h3>
    <input class="email" type="email">
    <h3>password</h3>
    <input id="password1" class="password" type="password">
    <h3>password confirm</h3>
    <input id="password2" class="password" type="password">
    <button id="create-user-action">Post Create</button>
  </div>
  <div class="signin-user" style="width: 400px; display: inline-block">
    <h3>name or email</h3>
    <input class="name" type="text">
    <h3>password</h3>
    <input id="signin-pass" class="password" type="password">
    <button id="signin-user-action">Post Signin</button>
  </div>
</section>
<section id="index">
  hello
</section>
