<section class="row">
  <div class="container">
    <section class="column two" id="info">
    </section>
    <section class="column two" id="settings">
    </section>
  </div>
</section>

<section class="row">
  <div class="container">
    <section class="column three create-user">
      <div>
        <label>name</label>
        <input class="name" type="text">
      </div>

      <div>
        <label>email</label>
        <input class="email" type="email">
      </div>

      <div>
        <label>password</label>
        <input id="password1" class="password" type="password">
      </div>

      <div>
        <label>password</label>
        <input id="password2" class="password" type="password">
      </div>

      <button id="create-user-action">Post Create</button>
    </section>

    <section class="column three signin-user">
      <label>name or email</label>
      <input class="name" type="text">
      <label>password</label>
      <input id="signin-pass" class="password" type="password">
      <button id="signin-user-action">Post Signin</button>
    </section>

    <section class="column three signin-user">
      <button id="gettest">Get Resource</button>
    </section>
  </div>
</section>

<section class="row">
  <div class="container">
    <section class="column one" id="reactty">
    </section>
  </div>
</section>
