<section class="row">
  <div class="container">
    <section class="column two" id="info">
    </section>
    <section class="column two" id="settings">
    </section>
  </div>
</section>

<section class="row">
  <div class="container">
    <section class="column three create-user">
      <h4>Create User</h4>
      <div>
        <label>name</label>
        <input class="name" type="text">
      </div>

      <div>
        <label>email</label>
        <input class="email" type="email">
      </div>

      <div>
        <label>password</label>
        <input id="password1" class="password" type="password">
      </div>

      <div>
        <label>password</label>
        <input id="password2" class="password" type="password">
      </div>

      <button id="create-user-action">Post Create</button>
    </section>

    <section class="column three login-user">
      <h4>Log In/Out</h4>
      <label>username</label>
      <input class="name" type="text">
      <label>password</label>
      <input id="login-pass" class="password" type="password">
      <button id="login-user-action">Post Log In</button>
      <button id="login-user-action">Post Log Out</button>
    </section>

    <section class="column three resources">
      <h4>Resources</h4>
      <button id="gettest">Get Resource</button>
    </section>
  </div>
</section>

<section class="row">
  <div class="container">
    <section class="column one" id="shelly">
    </section>
  </div>
</section>
